.bloque_Datos {
    width: 100%;
    height: 500px;
    position: relative;
    top: 100px;
    display:flex ;
    flex-direction: column;
    
    align-items: center;
}
.bloque_Datos img{
    width: 470px;
    border-radius: 30px;
}

.card_Datos{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.bloque_Datos p{
    font-size: 30px;
    color: white;
    position: relative;
    top: -70px;
    margin-left: 20px;
}